<header>
    <nav>
      <ul class="ul ul__nav">
        <li class="li li__nav">
          <a class="a a__nav" href="">Contact</a>
        </li>
        <li class="li li__nav">
          <a class="a a__nav" href="">Projects</a>
        </li>
        <li class="li li__nav">
          <a class="a a__nav" href="?show=true">Home</a>
        </li>
      </ul>
    </nav>
  </header>