<header>
  <nav>
    <ul class="ul ul__nav">
      <li class="li li__nav">
        <a class="a a__nav" href="/?show=true"
          ><svg
            class="svg__logo"
            width="700mm"
            height="110mm"
            version="1.1"
            viewBox="0 0 700 110"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:cc="http://creativecommons.org/ns#"
            xmlns:dc="http://purl.org/dc/elements/1.1/"
            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
          >
            <g transform="translate(0,-187)">
              <g transform="matrix(.61792 0 0 .61792 9.1839 194.7)">
                <circle
                  transform="translate(0,-147)"
                  cx="81.784"
                  cy="223.24"
                  r="63.313"
                  fill="#fff"
                  style="paint-order:stroke fill markers"
                />
                <path
                  transform="translate(0,-147)"
                  d="m45.907 275.32a63.313 63.313 0 0 0 35.827 11.118 63.313 63.313 0 0 0 63.312 -63.313 63.313 63.313 0 0 0 -56.849 -62.975 61.421 61.421 0 0 1 1.6268 0.59376 61.421 61.421 0 0 1 5.5283 2.6706 61.421 61.421 0 0 1 5.2343 3.2091 61.421 61.421 0 0 1 4.8876 3.7155 61.421 61.421 0 0 1 4.4922 4.1848 61.421 61.421 0 0 1 4.052 4.6126 61.421 61.421 0 0 1 3.5714 4.994 61.421 61.421 0 0 1 3.0551 5.3258 61.421 61.421 0 0 1 2.5079 5.6038 61.421 61.421 0 0 1 1.9358 5.8265 61.421 61.421 0 0 1 1.3446 5.9903 61.421 61.421 0 0 1 0.74 6.0947 61.421 61.421 0 0 1 0.15348 4.345 61.421 61.421 0 0 1 -0.30644 6.1319 61.421 61.421 0 0 1 -0.91777 6.0704 61.421 61.421 0 0 1 -1.5188 5.949 61.421 61.421 0 0 1 -2.1053 5.7671 61.421 61.421 0 0 1 -2.6706 5.5284 61.421 61.421 0 0 1 -3.2091 5.2343 61.421 61.421 0 0 1 -3.7155 4.8876 61.421 61.421 0 0 1 -4.1848 4.4922 61.421 61.421 0 0 1 -4.6126 4.052 61.421 61.421 0 0 1 -4.994 3.5714 61.421 61.421 0 0 1 -5.3258 3.0546 61.421 61.421 0 0 1 -5.6038 2.5079 61.421 61.421 0 0 1 -5.8265 1.9363 61.421 61.421 0 0 1 -5.9903 1.3446 61.421 61.421 0 0 1 -6.0947 0.73949 61.421 61.421 0 0 1 -4.345 0.15399 61.421 61.421 0 0 1 -6.1319 -0.30695 61.421 61.421 0 0 1 -6.0704 -0.91726 61.421 61.421 0 0 1 -5.9485 -1.5188 61.421 61.421 0 0 1 -1.8485 -0.6749z"
                  fill="#b2c6ee"
                  style="paint-order:stroke fill markers"
                />
                <circle
                  cx="82.059"
                  cy="75.913"
                  r="32.984"
                  fill="#00f"
                  style="paint-order:stroke fill markers"
                />
                <path
                  d="m53.396 92.548a32.984 32.984 0 0 0 28.499 16.46 32.984 32.984 0 0 0 32.984 -32.984 32.984 32.984 0 0 0 -23.68 -31.624 31.278 31.278 0 0 1 1.0227 0.49403 31.278 31.278 0 0 1 2.665 1.634 31.278 31.278 0 0 1 2.4892 1.8924 31.278 31.278 0 0 1 2.2872 2.1311 31.278 31.278 0 0 1 2.0634 2.3487 31.278 31.278 0 0 1 1.819 2.543 31.278 31.278 0 0 1 1.5555 2.712 31.278 31.278 0 0 1 1.2769 2.8536 31.278 31.278 0 0 1 0.98598 2.9673 31.278 31.278 0 0 1 0.68472 3.0505 31.278 31.278 0 0 1 0.37672 3.1037 31.278 31.278 0 0 1 0.0786 2.2123 31.278 31.278 0 0 1 -0.15658 3.1228 31.278 31.278 0 0 1 -0.46716 3.0913 31.278 31.278 0 0 1 -0.77359 3.0293 31.278 31.278 0 0 1 -1.0718 2.9368 31.278 31.278 0 0 1 -1.3601 2.8153 31.278 31.278 0 0 1 -1.634 2.6655 31.278 31.278 0 0 1 -1.8919 2.4887 31.278 31.278 0 0 1 -2.1311 2.2877 31.278 31.278 0 0 1 -2.3492 2.0634 31.278 31.278 0 0 1 -2.543 1.8185 31.278 31.278 0 0 1 -2.712 1.5555 31.278 31.278 0 0 1 -2.8536 1.2774 31.278 31.278 0 0 1 -2.9667 0.98547 31.278 31.278 0 0 1 -3.051 0.68472 31.278 31.278 0 0 1 -3.1037 0.37672 31.278 31.278 0 0 1 -2.2123 0.0785 31.278 31.278 0 0 1 -3.1223 -0.15606 31.278 31.278 0 0 1 -3.0918 -0.46716 31.278 31.278 0 0 1 -3.0293 -0.7736 31.278 31.278 0 0 1 -2.9368 -1.0723 31.278 31.278 0 0 1 -2.8153 -1.3596 31.278 31.278 0 0 1 -2.665 -1.6345 31.278 31.278 0 0 1 -2.4893 -1.8919 31.278 31.278 0 0 1 -2.2872 -2.1311 31.278 31.278 0 0 1 -1.3937 -1.5865z"
                  fill="#0000a4"
                  style="paint-order:stroke fill markers"
                />
                <path
                  transform="translate(-31.167 -30.651)"
                  d="m121.57 118.09 10.906 9.6722-13.758-9.3722 5.6869 18.945-6.8029-19.076 0.0709 19.03-5.6491-14.597-3.763 13.684 2.8728-19.741-10.028 21.399 4.0562-19.691-14.804 14.327 14.921-18.675-16.45 6.4688 11.218-5.4456-14.454-0.77573 14.605-4.2255-14.985-6.8315 13.026 1.4627-10.974-6.2356 13.751 4.1501-11.893-15.493 15.222 14.076-6.0687-16.579 8.0514 12.554-4.0579-19.921 11.345 18.954 1.1682-16.529 2.7227 15.291 6.3327-17.372-3.6248 17.119 9.2975-12.797-9.6216 14.925 14.296-9.9559-8.4279 13.619 16.91-1.0917-14.984 5.6745 16.09 2.1837-18.611 4.2888 16.756 1.6378-20.434-3.6608 19.974 13.004z"
                  fill-opacity=".24623"
                  style="paint-order:stroke fill markers"
                />
                <path
                  transform="matrix(.84753 -1.105 1.105 .84753 -72.81 100.66)"
                  d="m88.718 84.922 7.1782 8.7015-8.1915-9.2445 2.6133 13.871-7.7603-11.728 2.1985 12.166-1.7203-10.616-6.9602 10.539 4.1504-11.854-8.0575 10.973 3.856-12.462-11.771 7.8799 7.7514-8.2684-7.9552 2.617 7.5245-8.0009-13.788 1.8725 16.656-5.0307-16.011 1.3147 14.026-2.9971-12.624-5 11.884 3.644-7.1016-9.8812 9.2565 8.7043-6.6327-11.288 10.52 7.5296-2.5575-12.41 5.4367 11.67-0.41492-12.652 0.28217 13.157 6.9216-11.266-4.2723 12.23 9.8626-11.749-7.1619 11.288 13.1-3.0827-8.1735 5.0417 12.972 0.17033-15.848 5.6505 13.79-3.0147-13.715 5.2347 13.433 2.5646-10.371-0.24658 10.218 8.052z"
                  fill-opacity=".24623"
                  style="paint-order:stroke fill markers"
                />
                <circle
                  cx="81.868"
                  cy="76.515"
                  r="6.711"
                  style="paint-order:stroke fill markers"
                />
              </g>
              <g
                fill="#fff"
                stroke="#fff"
                stroke-linejoin="round"
                stroke-width="2.414"
                aria-label="Lucas Hideki"
              >
                <path
                  d="m187.65 272.87h-50.104v-55.671h11.134v44.537h38.97v11.134z"
                />
                <path
                  d="m234.92 256.17q0 3.6584-1.2725 6.76-1.193 3.0221-3.4198 5.249-2.2268 2.2268-5.3285 3.4993-3.0221 1.193-6.6805 1.193h-5.8852q-3.4993 0-6.601-1.2725-3.0221-1.2725-5.3285-3.4993-2.2268-2.3064-3.4993-5.3285-1.2725-3.1017-1.2725-6.601v-33.243h11.134v33.243q0 2.3859 1.5906 3.9765 1.5906 1.5906 3.9765 1.5906h5.8852q5.5671 0 5.5671-5.5671v-33.243h11.134z"
                />
                <path
                  d="m282.7 272.87h-23.143q-3.6584 0-6.76-1.193-3.0221-1.2725-5.249-3.4993-2.2268-2.2268-3.4993-5.249-1.193-3.1017-1.193-6.76v-16.622q0-3.6584 1.193-6.6805 1.2725-3.1017 3.4993-5.3285 2.2268-2.2268 5.249-3.4198 3.1017-1.2725 6.76-1.2725h23.143v11.134h-23.143q-5.5671 0-5.5671 5.5671v16.622q0 5.5671 5.5671 5.5671h23.143z"
                />
                <path
                  d="m290.7 222.77h22.427q3.5788 0 6.601 1.2725 3.1017 1.2725 5.3285 3.4993 2.2268 2.2268 3.4993 5.3285 1.2725 3.0221 1.2725 6.601v33.562q-4.2151-0.0795-8.3506-0.15906-4.1356 0-8.3506 0h-5.7262q-3.6584 0-6.76-1.193-3.0221-1.2725-5.249-3.4993-2.2268-2.2268-3.4993-5.249-1.193-3.1017-1.193-6.76v-13.918h27.994v-2.7835q0-5.5671-5.5671-5.5671h-22.427zm27.994 30.619h-16.86v2.7835q0 5.5671 5.5671 5.5671h11.293z"
                />
                <path
                  d="m357.65 242.33h19.246v13.838q0 3.6584-1.2725 6.76-1.193 3.0221-3.4198 5.249-2.2268 2.2268-5.3285 3.4993-3.0221 1.193-6.6805 1.193h-22.427v-11.134h22.427q1.9087 0 3.0221-0.55671 1.1134-0.55671 1.6701-1.5111 0.55671-0.95435 0.71577-2.3064t0.15906-2.9426v-1.0339h-27.994v-13.918q0-3.6584 1.1929-6.6805 1.2725-3.1017 3.4993-5.3285 2.2268-2.2268 5.249-3.4198 3.1017-1.2725 6.76-1.2725h22.348v11.134h-22.348q-1.9087 0-3.0221 0.55671t-1.6701 1.5111-0.71576 2.3064q-0.15906 1.352-0.15906 2.9426v1.0339h8.7483z"
                />
                <path
                  d="m468.02 272.87h-11.134v-22.268h-27.835v22.268h-11.134v-55.671h11.134v22.268h27.835v-22.268h11.134v55.671z"
                />
                <path
                  d="m487.14 272.87h-11.134v-49.945h11.134zm-11.134-61.238q0-2.3064 1.5906-3.897 1.5906-1.6701 3.897-1.6701 2.3064 0 3.897 1.6701 1.6701 1.5906 1.6701 3.897 0 2.3064-1.6701 3.897-1.5906 1.5906-3.897 1.5906-2.3064 0-3.897-1.5906-1.5906-1.5906-1.5906-3.897z"
                />
                <path
                  d="m511.82 272.87q-3.4993 0-6.5214-1.2725-3.0221-1.352-5.3285-3.5788-2.2268-2.3064-3.5788-5.3285-1.2725-3.0221-1.2725-6.5214v-16.463q0-3.4993 1.2725-6.5214 1.352-3.0221 3.5788-5.249 2.3064-2.3064 5.3285-3.5788 3.0221-1.352 6.5214-1.352h11.134v-5.8057h11.134v55.671zm-5.5671-16.701q0 2.3064 1.5906 3.9765 1.6701 1.5906 3.9765 1.5906h11.134v-27.597h-11.134q-2.3064 0-3.9765 1.6701-1.5906 1.5906-1.5906 3.897z"
                />
                <path
                  d="m581.15 272.87h-22.427q-3.6584 0-6.76-1.193-3.0221-1.2725-5.249-3.4993-2.2268-2.2268-3.4993-5.249-1.193-3.1017-1.193-6.76v-16.701q0-3.6584 1.193-6.6805 1.2725-3.1017 3.4993-5.3285 2.2268-2.2268 5.249-3.4198 3.1017-1.2725 6.76-1.2725h5.7262q3.6584 0 6.6805 1.2725 3.1017 1.193 5.3285 3.4198 2.2268 2.2268 3.4198 5.3285 1.2725 3.0221 1.2725 6.6805v13.918h-27.994v2.7835q0 5.5671 5.5671 5.5671h22.427zm-27.994-33.403v2.7835h16.86v-2.7835q0-5.5671-5.5671-5.5671h-5.7262q-5.5671 0-5.5671 5.5671z"
                />
                <path
                  d="m627.58 222.93-17.019 19.485q2.704 2.6245 5.7261 5.3285 3.1017 2.704 5.6466 5.7261 2.6245 3.0221 4.2946 6.5214 1.7496 3.4198 1.7496 7.5553v5.3285h-11.134q0-1.193 0-2.3859 0.0795-1.1929 0.0795-2.3064 0-1.5111-0.23859-2.545-0.23859-1.0339-0.7953-1.9087-0.47717-0.87483-1.2725-1.6701-0.7953-0.7953-1.8292-1.8292l-9.5436-9.305-3.0221 3.4993v18.451h-11.134v-55.671h11.134v20.757l13.043-15.031z"
                />
                <path
                  d="m647.14 272.87h-11.134v-49.945h11.134zm-11.134-61.238q0-2.3064 1.5906-3.897 1.5906-1.6701 3.897-1.6701t3.897 1.6701q1.6701 1.5906 1.6701 3.897 0 2.3064-1.6701 3.897-1.5906 1.5906-3.897 1.5906t-3.897-1.5906q-1.5906-1.5906-1.5906-3.897z"
                />
              </g>
            </g>
          </svg>
        </a>
      </li>
      <li class="li li__nav">
        <a class="a a__nav" href="">Projects</a>
      </li>
    </ul>
  </nav>
</header>
