<div class="div div__box div__intro div--purple">
  <svg
    class="svg svg__introbox"
    width="210mm"
    height="120mm"
    version="1.1"
    viewBox="0 0 210 120"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:cc="http://creativecommons.org/ns#"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  >
    <g transform="translate(0,-90)" fill="#063776">
      <path
        d="m104.29 167.77a12.963 34.879 0 0 0 -8.061 7.6404 12.963 34.879 0 0 1 0.20102 -0.33228 12.963 34.879 0 0 1 1.1663 -1.5198 12.963 34.879 0 0 1 1.2165 -1.1994 12.963 34.879 0 0 1 1.2552 -0.86609 12.963 34.879 0 0 1 1.2811 -0.52504 12.963 34.879 0 0 1 1.294 -0.17828 12.963 34.879 0 0 1 0.14004 2e-3 12.963 34.879 0 0 1 1.2935 0.2129 12.963 34.879 0 0 1 1.279 0.55914 12.963 34.879 0 0 1 1.2516 0.90021 12.963 34.879 0 0 1 1.2123 1.232 12.963 34.879 0 0 1 1.1601 1.5513 12.963 34.879 0 0 1 1.0971 1.8552 12.963 34.879 0 0 1 1.0227 2.1404 12.963 34.879 0 0 1 0.93844 2.4045 12.963 34.879 0 0 1 0.8444 2.6448 12.963 34.879 0 0 1 0.74155 2.8582 12.963 34.879 0 0 1 0.63252 3.0432 12.963 34.879 0 0 1 0.51573 3.1977 12.963 34.879 0 0 1 0.39533 3.3207 12.963 34.879 0 0 1 0.26975 3.4101 12.963 34.879 0 0 1 0.0811 1.9864 18.709 20.312 0 0 0 0.49816 -0.38654 18.709 20.312 0 0 0 1.2092 -1.1539 12.963 34.879 0 0 0 -12.936 -32.798z"
        style="paint-order:stroke fill markers"
      />
      <path
        d="m103.43 168.22a12.963 34.879 0 0 0 -8.061 7.6404 12.963 34.879 0 0 1 0.20102 -0.33228 12.963 34.879 0 0 1 1.1663 -1.5198 12.963 34.879 0 0 1 1.2165 -1.1994 12.963 34.879 0 0 1 1.2552 -0.8661 12.963 34.879 0 0 1 1.2811 -0.52503 12.963 34.879 0 0 1 1.294 -0.17828 12.963 34.879 0 0 1 0.14004 2e-3 12.963 34.879 0 0 1 1.2935 0.2129 12.963 34.879 0 0 1 1.279 0.55914 12.963 34.879 0 0 1 1.2516 0.9002 12.963 34.879 0 0 1 1.2123 1.232 12.963 34.879 0 0 1 1.1601 1.5513 12.963 34.879 0 0 1 1.0971 1.8552 12.963 34.879 0 0 1 1.0227 2.1404 12.963 34.879 0 0 1 0.93845 2.4045 12.963 34.879 0 0 1 0.84439 2.6448 12.963 34.879 0 0 1 0.74156 2.8582 12.963 34.879 0 0 1 0.63251 3.0432 12.963 34.879 0 0 1 0.51573 3.1977 12.963 34.879 0 0 1 0.39533 3.3207 12.963 34.879 0 0 1 0.26975 3.4101 12.963 34.879 0 0 1 0.0811 1.9864 18.709 20.312 0 0 0 0.49816 -0.38654 18.709 20.312 0 0 0 1.2092 -1.1539 12.963 34.879 0 0 0 -12.936 -32.798z"
        style="paint-order:stroke fill markers"
      />
    </g>
    <g transform="translate(0,-177)">
      <path
        d="m115.51 289.11a12.963 34.879 0 0 0 -0.0811 -1.9864 12.963 34.879 0 0 0 -0.26975 -3.4101 12.963 34.879 0 0 0 -0.39533 -3.3207 12.963 34.879 0 0 0 -0.51573 -3.1977 12.963 34.879 0 0 0 -0.63252 -3.0432 12.963 34.879 0 0 0 -0.74156 -2.8582 12.963 34.879 0 0 0 -0.84439 -2.6448 12.963 34.879 0 0 0 -0.93844 -2.4045 12.963 34.879 0 0 0 -1.0227 -2.1404 12.963 34.879 0 0 0 -1.0971 -1.8552 12.963 34.879 0 0 0 -1.1601 -1.5513 12.963 34.879 0 0 0 -1.2123 -1.232 12.963 34.879 0 0 0 -1.2516 -0.9002 12.963 34.879 0 0 0 -1.279 -0.55914 12.963 34.879 0 0 0 -1.2935 -0.21291 12.963 34.879 0 0 0 -0.14005 -2e-3 12.963 34.879 0 0 0 -1.294 0.17828 12.963 34.879 0 0 0 -1.2811 0.52503 12.963 34.879 0 0 0 -1.2552 0.8661 12.963 34.879 0 0 0 -1.2165 1.1994 12.963 34.879 0 0 0 -1.1663 1.5198 12.963 34.879 0 0 0 -0.20102 0.33228 12.963 34.879 0 0 0 -4.8591 24.961 18.709 20.312 0 0 0 0.96377 0.97462 18.709 20.312 0 0 0 1.4888 1.2289 18.709 20.312 0 0 0 1.5947 1.0609 18.709 20.312 0 0 0 1.6836 0.88315 18.709 20.312 0 0 0 1.757 0.6966 18.709 20.312 0 0 0 1.8118 0.50229 18.709 20.312 0 0 0 1.849 0.30335 18.709 20.312 0 0 0 1.8681 0.10128 18.709 20.312 0 0 0 1.3234 -0.0506 18.709 20.312 0 0 0 1.8562 -0.24495 18.709 20.312 0 0 0 1.8247 -0.44442 18.709 20.312 0 0 0 1.7751 -0.64027 18.709 20.312 0 0 0 1.7069 -0.8294 18.709 20.312 0 0 0 1.6221 -1.0103 18.709 20.312 0 0 0 1.0232 -0.79427z"
        fill="#006581"
        style="paint-order:stroke fill markers"
      />
      <path
        d="m108.2 264.53a17.373 17.373 0 0 0 11.187 -10.467 16.036 10.424 0 0 0 -0.15607 -0.83715 16.036 10.424 0 0 0 -0.3514 -1.0165 16.036 10.424 0 0 0 -0.50539 -0.98909 16.036 10.424 0 0 0 -0.65474 -0.95084 16.036 10.424 0 0 0 -0.79737 -0.90382 16.036 10.424 0 0 0 -0.93276 -0.8475 16.036 10.424 0 0 0 -1.0578 -0.78289 16.036 10.424 0 0 0 -0.93637 -0.56689 16.551 13.943 0 0 1 0.39842 0.75034 16.551 13.943 0 0 1 0.52193 1.3224 16.551 13.943 0 0 1 0.36226 1.3601 16.551 13.943 0 0 1 0.19947 1.3834 16.551 13.943 0 0 1 0.0413 0.9865 16.551 13.943 0 0 1 -0.0827 1.3922 16.551 13.943 0 0 1 -0.24702 1.3777 16.551 13.943 0 0 1 -0.40927 1.3503 16.551 13.943 0 0 1 -0.56741 1.3095 16.551 13.943 0 0 1 -0.71985 1.2552 16.551 13.943 0 0 1 -0.86455 1.188 16.551 13.943 0 0 1 -1.0015 1.1095 16.551 13.943 0 0 1 -1.1276 1.0196 16.551 13.943 0 0 1 -1.2428 0.91984 16.551 13.943 0 0 1 -1.0563 0.63666z"
        fill="#ffb380"
        style="paint-order:stroke fill markers"
      />
    </g>
    <g transform="translate(0,-90)">
      <path
        d="m109.67 177.17a17.373 17.373 0 0 0 11.187 -10.467 16.036 10.424 0 0 0 -0.15606 -0.83715 16.036 10.424 0 0 0 -0.3514 -1.0165 16.036 10.424 0 0 0 -0.5054 -0.98909 16.036 10.424 0 0 0 -0.65474 -0.95084 16.036 10.424 0 0 0 -0.79737 -0.90382 16.036 10.424 0 0 0 -0.93276 -0.8475 16.036 10.424 0 0 0 -1.0578 -0.78289 16.036 10.424 0 0 0 -0.93638 -0.56689 16.551 13.943 0 0 1 0.39842 0.75034 16.551 13.943 0 0 1 0.52194 1.3224 16.551 13.943 0 0 1 0.36225 1.3601 16.551 13.943 0 0 1 0.19947 1.3834 16.551 13.943 0 0 1 0.0413 0.9865 16.551 13.943 0 0 1 -0.0827 1.3922 16.551 13.943 0 0 1 -0.24702 1.3777 16.551 13.943 0 0 1 -0.40927 1.3503 16.551 13.943 0 0 1 -0.56741 1.3095 16.551 13.943 0 0 1 -0.71985 1.2552 16.551 13.943 0 0 1 -0.86455 1.188 16.551 13.943 0 0 1 -1.0015 1.1095 16.551 13.943 0 0 1 -1.1276 1.0196 16.551 13.943 0 0 1 -1.2428 0.91984 16.551 13.943 0 0 1 -1.0563 0.63666z"
        fill="#ffb380"
        style="paint-order:stroke fill markers"
      />
      <path
        d="m109.67 177.17a16.551 13.943 0 0 0 1.0563 -0.63666 16.551 13.943 0 0 0 1.2428 -0.91984 16.551 13.943 0 0 0 1.1276 -1.0196 16.551 13.943 0 0 0 1.0015 -1.1095 16.551 13.943 0 0 0 0.86455 -1.188 16.551 13.943 0 0 0 0.71985 -1.2552 16.551 13.943 0 0 0 0.56741 -1.3095 16.551 13.943 0 0 0 0.40927 -1.3503 16.551 13.943 0 0 0 0.24702 -1.3777 16.551 13.943 0 0 0 0.0827 -1.3922 16.551 13.943 0 0 0 -0.0413 -0.9865 16.551 13.943 0 0 0 -0.19947 -1.3834 16.551 13.943 0 0 0 -0.36225 -1.3601 16.551 13.943 0 0 0 -0.52194 -1.3224 16.551 13.943 0 0 0 -0.39842 -0.75034 16.036 10.424 0 0 0 -0.23616 -0.14315 16.036 10.424 0 0 0 -1.2764 -0.63045 16.036 10.424 0 0 0 -1.3663 -0.54467 16.036 10.424 0 0 0 -1.4433 -0.4532 16.036 10.424 0 0 0 -1.5058 -0.35709 16.036 10.424 0 0 0 -1.5534 -0.25786 16.036 10.424 0 0 0 -1.5849 -0.15555 16.036 10.424 0 0 0 -1.6009 -0.0522 16.036 10.424 0 0 0 -1.1343 0.0258 16.036 10.424 0 0 0 -1.5911 0.12557 16.036 10.424 0 0 0 -1.5642 0.22841 16.036 10.424 0 0 0 -1.5208 0.32866 16.036 10.424 0 0 0 -1.4635 0.4253 16.036 10.424 0 0 0 -1.3901 0.51831 16.036 10.424 0 0 0 -1.3038 0.60617 16.036 10.424 0 0 0 -1.2046 0.68781 16.036 10.424 0 0 0 -1.0924 0.76223 16.036 10.424 0 0 0 -0.96996 0.82941 16.036 10.424 0 0 0 -0.83819 0.88831 16.036 10.424 0 0 0 -0.69712 0.93845 16.036 10.424 0 0 0 -0.54984 0.97875 16.036 10.424 0 0 0 -0.39636 1.0092 16.036 10.424 0 0 0 -0.23978 1.0304 16.036 10.424 0 0 0 -0.0801 1.0408 16.036 10.424 0 0 0 0.0098 0.17829 17.373 17.373 0 0 0 15.759 10.112 17.373 17.373 0 0 0 5.039 -0.75809z"
        fill="#e9c6af"
        style="paint-order:stroke fill markers"
      />
      <rect
        x="101.47"
        y="164.17"
        width="5.7313"
        height="1.5419"
        ry=".77096"
        style="paint-order:stroke fill markers"
      />
    </g>
    <g
      transform="translate(0,-90)"
      fill="#f9f9f9"
      stroke="#000"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="1.065"
    >
      <rect
        x="95.787"
        y="164.69"
        width="7.5595"
        height="7.1343"
        ry="1.0691"
        style="paint-order:stroke fill markers"
      />
      <rect
        x="105.31"
        y="164.69"
        width="7.5595"
        height="7.1343"
        ry="1.0691"
        style="paint-order:stroke fill markers"
      />
    </g>
    <g transform="translate(0,-90)">
      <rect
        x="100.36"
        y="165.63"
        width="2.1382"
        height="5.479"
        ry="1.0691"
        style="paint-order:stroke fill markers"
      />
      <rect
        x="106.11"
        y="165.5"
        width="2.1382"
        height="5.479"
        ry="1.0691"
        style="paint-order:stroke fill markers"
      />
    </g>
    <g transform="translate(0,-90)">
      <path
        d="m104.64 143.18a17.373 17.373 0 0 0 -17.373 17.373 17.373 17.373 0 0 0 1.6133 7.261 16.036 10.424 0 0 1 -0.0098 -0.17828 16.036 10.424 0 0 1 0.0801 -1.0408 16.036 10.424 0 0 1 0.23978 -1.0304 16.036 10.424 0 0 1 0.39636 -1.0092 16.036 10.424 0 0 1 0.54984 -0.97875 16.036 10.424 0 0 1 0.69712 -0.93845 16.036 10.424 0 0 1 0.83819 -0.88831 16.036 10.424 0 0 1 0.96996 -0.82941 16.036 10.424 0 0 1 1.0924 -0.76223 16.036 10.424 0 0 1 1.2046 -0.68781 16.036 10.424 0 0 1 1.3038 -0.60617 16.036 10.424 0 0 1 1.3901 -0.51831 16.036 10.424 0 0 1 1.4635 -0.4253 16.036 10.424 0 0 1 1.5208 -0.32866 16.036 10.424 0 0 1 1.5642 -0.22841 16.036 10.424 0 0 1 1.5911 -0.12557 16.036 10.424 0 0 1 1.1343 -0.0258 16.036 10.424 0 0 1 1.6009 0.0522 16.036 10.424 0 0 1 1.5849 0.15555 16.036 10.424 0 0 1 1.5534 0.25786 16.036 10.424 0 0 1 1.5059 0.35709 16.036 10.424 0 0 1 1.4433 0.4532 16.036 10.424 0 0 1 1.3663 0.54467 16.036 10.424 0 0 1 1.2764 0.63045 16.036 10.424 0 0 1 1.1725 0.71004 16.036 10.424 0 0 1 1.0578 0.78289 16.036 10.424 0 0 1 0.93276 0.8475 16.036 10.424 0 0 1 0.79736 0.90382 16.036 10.424 0 0 1 0.65474 0.95084 16.036 10.424 0 0 1 0.5054 0.98909 16.036 10.424 0 0 1 0.3514 1.0165 16.036 10.424 0 0 1 0.15606 0.83715 17.373 17.373 0 0 0 1.1462 -6.1479 17.373 17.373 0 0 0 -17.373 -17.373z"
        fill="#2b1100"
        style="paint-order:stroke fill markers"
      />
      <ellipse
        cx="88.733"
        cy="158.95"
        rx="2.8063"
        ry="4.1427"
        fill="#2b1100"
        style="paint-order:stroke fill markers"
      />
      <ellipse
        cx="89.803"
        cy="153.14"
        rx="2.8063"
        ry="2.8731"
        fill="#2b1100"
        style="paint-order:stroke fill markers"
      />
      <ellipse
        cx="91.406"
        cy="148.53"
        rx="2.94"
        ry="3.6081"
        fill="#2b1100"
        style="paint-order:stroke fill markers"
      />
      <ellipse
        cx="96.017"
        cy="145.52"
        rx="4.0759"
        ry="3.2741"
        fill="#2b1100"
        style="paint-order:stroke fill markers"
      />
      <ellipse
        cx="103.1"
        cy="143.05"
        rx="4.0759"
        ry="2.8063"
        fill="#2b1100"
        style="paint-order:stroke fill markers"
      />
      <ellipse
        cx="110.32"
        cy="143.92"
        rx="3.5413"
        ry="2.7395"
        fill="#2b1100"
        style="paint-order:stroke fill markers"
      />
      <ellipse
        cx="115.59"
        cy="146.72"
        rx="3.0736"
        ry="3.1404"
        fill="#2b1100"
        style="paint-order:stroke fill markers"
      />
      <ellipse
        cx="118.8"
        cy="151.33"
        rx="2.94"
        ry="3.2072"
        fill="#2b1100"
        style="paint-order:stroke fill markers"
      />
      <ellipse
        cx="120.07"
        cy="153.47"
        rx="2.4722"
        ry="2.6727"
        fill="#2b1100"
        style="paint-order:stroke fill markers"
      />
      <ellipse
        cx="120.67"
        cy="158.22"
        rx="2.4054"
        ry="3.8086"
        fill="#2b1100"
        style="paint-order:stroke fill markers"
      />
      <ellipse
        cx="122.14"
        cy="160.89"
        rx="1.2027"
        ry="2.6059"
        fill="#2b1100"
        style="paint-order:stroke fill markers"
      />
      <path
        transform="rotate(117.47 70.722 139.5)"
        d="m75.624 105.83c0.2164 0.10305 0.25567 0.38458 0.15331 0.58184-0.17168 0.33085-0.60848 0.38673-0.91337 0.21765-0.48528-0.26911-0.56219-0.91848-0.29838-1.3696 0.40231-0.68801 1.3342-0.791 1.9784-0.39759 0.94807 0.57895 1.0829 1.8773 0.51742 2.7704-0.36776 0.58083-0.98375 0.97194-1.6552 1.0998"
        fill="none"
        stroke="#2b1100"
        stroke-linecap="round"
        stroke-width="1.665"
      />
      <path
        d="m117.05 164.1c-0.11165-0.38508 0.19669-0.74704 0.55707-0.83828 0.60443-0.15303 1.1597 0.33098 1.2872 0.90007 0.20283 0.90578-0.52357 1.7236-1.3808 1.8951-1.3072 0.26159-2.4717-0.78908-2.6957-2.0317-0.32975-1.8287 1.1437-3.4401 2.8886-3.7256 1.1348-0.18568 2.3084 0.14981 3.2144 0.84712"
        fill="#2b1100"
        fill-rule="evenodd"
        stroke="#2b1100"
        stroke-width=".73922"
      />
      <path
        transform="rotate(117.47 65.512 140.3)"
        d="m75.624 105.83c0.2164 0.10305 0.25567 0.38458 0.15331 0.58184-0.17168 0.33085-0.60848 0.38673-0.91337 0.21765-0.48528-0.26911-0.56219-0.91848-0.29838-1.3696 0.40231-0.68801 1.3342-0.791 1.9784-0.39759 0.94807 0.57895 1.0829 1.8773 0.51742 2.7704-0.36776 0.58083-0.98375 0.97194-1.6552 1.0998"
        fill="none"
        stroke="#2b1100"
        stroke-linecap="round"
        stroke-width="1.665"
      />
      <path
        transform="rotate(117.47 67.721 138.4)"
        d="m75.624 105.83c0.2164 0.10305 0.25567 0.38458 0.15331 0.58184-0.17168 0.33085-0.60848 0.38673-0.91337 0.21765-0.48528-0.26911-0.56219-0.91848-0.29838-1.3696 0.40231-0.68801 1.3342-0.791 1.9784-0.39759 0.94807 0.57895 1.0829 1.8773 0.51742 2.7704-0.36776 0.58083-0.98375 0.97194-1.6552 1.0998"
        fill="none"
        stroke="#2b1100"
        stroke-linecap="round"
        stroke-width="1.665"
      />
      <path
        transform="matrix(-1.0183 .52942 .52942 1.0183 127.93 7.9471)"
        d="m75.624 105.83c0.2164 0.10305 0.25567 0.38458 0.15331 0.58184-0.17168 0.33085-0.60848 0.38673-0.91337 0.21765-0.48528-0.26911-0.56219-0.91848-0.29838-1.3696 0.40231-0.68801 1.3342-0.791 1.9784-0.39759 0.94807 0.57895 1.0829 1.8773 0.51742 2.7704-0.36776 0.58083-0.98375 0.97194-1.6552 1.0998"
        fill="none"
        stroke="#2b1100"
        stroke-linecap="round"
        stroke-width="1.665"
      />
      <path
        transform="matrix(-.4982 .95823 -.95823 -.4982 252.81 139.41)"
        d="m75.624 105.83c0.2164 0.10305 0.25567 0.38458 0.15331 0.58184-0.17168 0.33085-0.60848 0.38673-0.91337 0.21765-0.48528-0.26911-0.56219-0.91848-0.29838-1.3696 0.40231-0.68801 1.3342-0.791 1.9784-0.39759 0.94807 0.57895 1.0829 1.8773 0.51742 2.7704-0.36776 0.58083-0.98375 0.97194-1.6552 1.0998"
        fill="none"
        stroke="#2b1100"
        stroke-linecap="round"
        stroke-width="1.665"
      />
      <ellipse
        cx="119.99"
        cy="163.93"
        rx=".70871"
        ry=".8032"
        fill="#2b1100"
        stroke="#2b1100"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.665"
        style="paint-order:stroke fill markers"
      />
      <ellipse
        cx="101.9"
        cy="156.81"
        rx="1.6704"
        ry=".60136"
        fill="#2b1100"
        stroke="#2b1100"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.665"
        style="paint-order:stroke fill markers"
      />
      <ellipse
        cx="90.073"
        cy="163.09"
        rx="1.3639"
        ry="2.0873"
        fill="#2b1100"
        style="paint-order:stroke fill markers"
      />
      <ellipse
        cx="95.23"
        cy="158.22"
        rx="1.7481"
        ry="1.6536"
        fill="#2b1100"
        style="paint-order:stroke fill markers"
      />
      <ellipse
        cx="99.104"
        cy="156.97"
        rx="2.0316"
        ry="1.2993"
        fill="#2b1100"
        style="paint-order:stroke fill markers"
      />
      <ellipse
        cx="109.45"
        cy="157.03"
        rx="2.5028"
        ry="1.2829"
        fill="#2b1100"
        style="paint-order:stroke fill markers"
      />
      <ellipse
        cx="116.21"
        cy="159.52"
        rx="1.0394"
        ry="1.441"
        fill="#2b1100"
        style="paint-order:stroke fill markers"
      />
    </g>
  </svg>
  <h1 class="h1">Hello there!</h1>
  <p class="p p__info">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla
    tortor ac accumsan posuere. Integer in eleifend lectus, non eleifend sapien.
    Praesent luctus velit diam, in iaculis augue maximus in. Etiam ornare
    faucibus ullamcorper. Mauris pharetra, turpis a placerat pellentesque, ex
    mauris ultrices metus, dictum pretium nulla tortor ut ex. Ut tempus eros
    sem, quis tempor leo pharetra ut. Proin imperdiet tristique aliquam. Integer
    ultrices porttitor justo, non malesuada tellus convallis in. Quisque justo
    dolor, pharetra quis pulvinar in, lacinia in nisi.
  </p>
</div>
<div class="div div__box div--flex_columns div--purple">
  <svg 
  class="svg__languages"
  xmlns:dc="http://purl.org/dc/elements/1.1/" 
    xmlns:cc="http://creativecommons.org/ns#" 
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" 
    xmlns:svg="http://www.w3.org/2000/svg" 
    xmlns="http://www.w3.org/2000/svg" 
    xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" 
    xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" width="511mm" height="97mm" viewBox="0 0 511 97" id="svg1418" inkscape:version="0.92.4 (5da689c313, 2019-01-14)" sodipodi:docname="toplanguages.svg">
    <defs id="defs1412">
        <filter inkscape:collect="always" style="color-interpolation-filters:sRGB" id="filter2340" x="-.016740272" width="1.0334805" y="-.14429022" height="1.2885804">
            <feGaussianBlur inkscape:collect="always" stdDeviation="2.7273496" id="feGaussianBlur2342" />
        </filter>
        <filter inkscape:collect="always" style="color-interpolation-filters:sRGB" id="filter2360" x="-.00066961086" width="1.0013392" y="-.0057716086" height="1.0115432">
            <feGaussianBlur inkscape:collect="always" stdDeviation=".10909399" id="feGaussianBlur2362" />
        </filter>
        <filter inkscape:collect="always" style="color-interpolation-filters:sRGB" id="filter2368" x="-.010044163" width="1.0200883" y="-.08657413" height="1.1731483">
            <feGaussianBlur inkscape:collect="always" stdDeviation="1.6364098" id="feGaussianBlur2370" />
        </filter>
    </defs>
    <sodipodi:namedview id="base" pagecolor="#ffffff" bordercolor="#666666" borderopacity="1" inkscape:pageopacity="0" inkscape:pageshadow="2" inkscape:zoom=".98994949" inkscape:cx="392.29631" inkscape:cy="258.65067" inkscape:document-units="mm" inkscape:current-layer="layer1" showgrid="false" inkscape:window-width="1360" inkscape:window-height="705" inkscape:window-x="-8" inkscape:window-y="-8" inkscape:window-maximized="1" />
    <g inkscape:groupmode="layer" id="layer3" inkscape:label="BackLettersBot">
        <g transform="translate(3.4078331,-197.35415)" aria-label="Top Languages" style="font-style:normal;font-variant:normal;font-weight:400;font-stretch:normal;font-size:50.79999924px;line-height:1.25;font-family:cat north;-inkscape-font-specification:'CAT North, ';letter-spacing:0;word-spacing:0;fill:#100035;fill-opacity:1;stroke:#100035;stroke-width:2.06500006;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter2368)" id="text1965-7-5">
            <path inkscape:connector-curvature="0" d="m94.264237 234.53415h-12.446v28.448h-7.111999v-28.448h-12.446v-7.112h32.003999z" style="fill:#100035;fill-opacity:1;stroke:#100035;stroke-width:2.06500006;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="path1967-2-6" />
            <path inkscape:connector-curvature="0" d="m124.46325 252.31415q0 2.3876-.762 4.3688-.762 1.9812-2.1844 3.4036-1.3716 1.3716-3.3528 2.1336-1.9812.762-4.3688.762h-3.7592q-2.3368.0-4.318-.762-1.9304-.8128-3.3528-2.2352-1.4224-1.4224-2.2352-3.3528-.762001-1.9812-.762001-4.318v-10.7188q0-2.2352.812801-4.1656.8128-1.9812 2.2352-3.4036 1.4732-1.4732 3.4036-2.286 1.9812-.8128 4.2164-.8128h3.7592q2.286.0 4.2164.8128 1.9812.8128 3.4036 2.2352 1.4224 1.4224 2.2352 3.4036.8128 1.9304.8128 4.2164zm-7.112.0v-10.7188q0-1.6256-.9652-2.5908-.9652-.9652-2.5908-.9652h-3.7592q-1.524.0-2.54 1.016-1.016 1.016-1.016 2.54v10.7188q0 3.556 3.556 3.556h3.7592q3.556.0 3.556-3.556z" style="fill:#100035;fill-opacity:1;stroke:#100035;stroke-width:2.06500006;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="path1969-7-3" />
            <path inkscape:connector-curvature="0" d="m143.75455 231.23215q2.1844.0 4.1148.8636 1.9812.8128 3.4036 2.286 1.4732 1.4224 2.286 3.4036.8636 1.9304.8636 4.1148v10.5156q0 2.2352-.8636 4.1656-.8128 1.9304-2.286 3.4036-1.4224 1.4224-3.3528 2.286-1.9304.8128-4.1656.8128h-7.112v3.7084h-7.112v-35.56zm3.556 10.668q0-1.4732-1.0668-2.4892-1.016-1.0668-2.4892-1.0668h-7.112v17.6276h7.112q1.4732.0 2.4892-1.016 1.0668-1.0668 1.0668-2.54z" style="fill:#100035;fill-opacity:1;stroke:#100035;stroke-width:2.06500006;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="path1971-7-5" />
            <path inkscape:connector-curvature="0" d="m212.6322 262.98215h-32.004v-35.56h7.112v28.448h24.892z" style="fill:#100035;fill-opacity:1;stroke:#100035;stroke-width:2.06500006;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="path1973-3-3" />
            <path inkscape:connector-curvature="0" d="m217.73601 230.97815h14.3256q2.286.0 4.2164.8128 1.9812.8128 3.4036 2.2352 1.4224 1.4224 2.2352 3.4036.8128 1.9304.8128 4.2164v21.4376q-2.6924-.0508-5.334-.1016-2.6416.0-5.334.0h-3.6576q-2.3368.0-4.318-.762-1.9304-.8128-3.3528-2.2352-1.4224-1.4224-2.2352-3.3528-.762-1.9812-.762-4.318v-8.89h17.8816v-1.778q0-3.556-3.556-3.556h-14.3256zm17.8816 19.558h-10.7696v1.778q0 3.556 3.556 3.556h7.2136z" style="fill:#100035;fill-opacity:1;stroke:#100035;stroke-width:2.06500006;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="path1975-4-5" />
            <path inkscape:connector-curvature="0" d="m272.7421 262.98215h-7.112v-21.5392q0-3.556-3.556-3.556h-3.6068q-1.6256.0-2.5908.9652-.9652.9652-.9652 2.5908v21.5392h-7.112v-32.2072h7.112v.5588q1.8288-.5588 3.556-.5588h3.6068q2.286.0 4.2164.8128 1.9812.8128 3.4036 2.2352 1.4224 1.4224 2.2352 3.4036.8128 1.9304.8128 4.2164z" style="fill:#100035;fill-opacity:1;stroke:#100035;stroke-width:2.06500006;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="path1977-5-1" />
            <path inkscape:connector-curvature="0" d="m302.80538 262.57575q0 2.3368-.8128 4.2164-.8128 1.8796-2.2352 3.2004-1.4224 1.3716-3.4036 2.0828-1.9304.7112-4.2164.7112h-14.1224v-7.112h14.1224q1.3208.0 2.3368-.6096 1.016-.6096 1.1684-2.0828h-7.112q-2.2352.0-4.2164-.8128-1.9304-.8128-3.4036-2.2352-1.4224-1.4732-2.2352-3.4036-.8128-1.9812-.8128-4.2164v-10.414q0-2.1844.8128-4.1148.8636-1.9812 2.286-3.4036 1.4732-1.4732 3.4036-2.286 1.9812-.8636 4.1656-.8636h14.224q.0508 7.874.0508 15.6972.0 7.7724.0 15.6464zm-17.8308-20.6756v10.414q0 1.4732 1.016 2.54 1.0668 1.016 2.54 1.016h7.112v-17.526h-7.112q-1.4732.0-2.54 1.0668-1.016 1.016-1.016 2.4892z" style="fill:#100035;fill-opacity:1;stroke:#100035;stroke-width:2.06500006;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="path1979-3-2" />
            <path inkscape:connector-curvature="0" d="m333.02106 252.31415q0 2.3368-.8128 4.318-.762 1.9304-2.1844 3.3528-1.4224 1.4224-3.4036 2.2352-1.9304.762-4.2672.762h-3.7592q-2.2352.0-4.2164-.8128-1.9304-.8128-3.4036-2.2352-1.4224-1.4732-2.2352-3.4036-.8128-1.9812-.8128-4.2164v-21.2344h7.112v21.2344q0 1.524 1.016 2.54 1.016 1.016 2.54 1.016h3.7592q3.556.0 3.556-3.556v-21.2344h7.112z" style="fill:#100035;fill-opacity:1;stroke:#100035;stroke-width:2.06500006;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="path1981-4-3" />
            <path inkscape:connector-curvature="0" d="m338.08836 230.97815h14.3256q2.286.0 4.2164.8128 1.9812.8128 3.4036 2.2352 1.4224 1.4224 2.2352 3.4036.8128 1.9304.8128 4.2164v21.4376q-2.6924-.0508-5.334-.1016-2.6416.0-5.334.0h-3.6576q-2.3368.0-4.318-.762-1.9304-.8128-3.3528-2.2352-1.4224-1.4224-2.2352-3.3528-.762-1.9812-.762-4.318v-8.89h17.8816v-1.778q0-3.556-3.556-3.556h-14.3256zm17.8816 19.558h-10.7696v1.778q0 3.556 3.556 3.556h7.2136z" style="fill:#100035;fill-opacity:1;stroke:#100035;stroke-width:2.06500006;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="path1983-2-1" />
            <path inkscape:connector-curvature="0" d="m393.09443 262.57575q0 2.3368-.8128 4.2164-.8128 1.8796-2.2352 3.2004-1.4224 1.3716-3.4036 2.0828-1.9304.7112-4.2164.7112h-14.1224v-7.112h14.1224q1.3208.0 2.3368-.6096 1.016-.6096 1.1684-2.0828h-7.112q-2.2352.0-4.2164-.8128-1.9304-.8128-3.4036-2.2352-1.4224-1.4732-2.2352-3.4036-.8128-1.9812-.8128-4.2164v-10.414q0-2.1844.8128-4.1148.8636-1.9812 2.286-3.4036 1.4732-1.4732 3.4036-2.286 1.9812-.8636 4.1656-.8636h14.224q.0508 7.874.0508 15.6972.0 7.7724.0 15.6464zm-17.8308-20.6756v10.414q0 1.4732 1.016 2.54 1.0668 1.016 2.54 1.016h7.112v-17.526h-7.112q-1.4732.0-2.54 1.0668-1.016 1.016-1.016 2.4892z" style="fill:#100035;fill-opacity:1;stroke:#100035;stroke-width:2.06500006;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="path1985-5-8" />
            <path inkscape:connector-curvature="0" d="m423.20852 262.98215h-14.3256q-2.3368.0-4.318-.762-1.9304-.8128-3.3528-2.2352-1.4224-1.4224-2.2352-3.3528-.762-1.9812-.762-4.318v-10.668q0-2.3368.762-4.2672.8128-1.9812 2.2352-3.4036 1.4224-1.4224 3.3528-2.1844 1.9812-.8128 4.318-.8128h3.6576q2.3368.0 4.2672.8128 1.9812.762 3.4036 2.1844 1.4224 1.4224 2.1844 3.4036.8128 1.9304.8128 4.2672v8.89h-17.8816v1.778q0 3.556 3.556 3.556h14.3256zm-17.8816-21.336v1.778h10.7696v-1.778q0-3.556-3.556-3.556h-3.6576q-3.556.0-3.556 3.556z" style="fill:#100035;fill-opacity:1;stroke:#100035;stroke-width:2.06500006;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="path1987-9-5" />
            <path inkscape:connector-curvature="0" d="m440.97818 243.47495h12.2936v8.8392q0 2.3368-.8128 4.318-.762 1.9304-2.1844 3.3528-1.4224 1.4224-3.4036 2.2352-1.9304.762-4.2672.762h-14.3256v-7.112h14.3256q1.2192.0 1.9304-.3556.7112-.3556 1.0668-.9652.3556-.6096.4572-1.4732.1016-.8636.1016-1.8796v-.6604h-17.8816v-8.89q0-2.3368.762-4.2672.8128-1.9812 2.2352-3.4036 1.4224-1.4224 3.3528-2.1844 1.9812-.8128 4.318-.8128h14.2748v7.112h-14.2748q-1.2192.0-1.9304.3556-.7112.3556-1.0668.9652-.3556.6096-.4572 1.4732-.1016.8636-.1016 1.8796v.6604h5.588z" style="fill:#100035;fill-opacity:1;stroke:#100035;stroke-width:2.06500006;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="path1989-4-7" />
        </g>
    </g>
    <g inkscape:groupmode="layer" id="layer2" inkscape:label="BackLettersTop" style="display:inline">
        <g transform="translate(-3.4501649,-202.87864)" aria-label="Top Languages" style="font-style:normal;font-variant:normal;font-weight:400;font-stretch:normal;font-size:50.79999924px;line-height:1.25;font-family:cat north;-inkscape-font-specification:'CAT North, ';letter-spacing:0;word-spacing:0;fill:#8e219f;fill-opacity:1;stroke:#8e219f;stroke-width:2.06500006;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter2340)" id="text1965-7">
            <path inkscape:connector-curvature="0" d="m94.264237 234.53415h-12.446v28.448h-7.111999v-28.448h-12.446v-7.112h32.003999z" style="fill:#8e219f;fill-opacity:1;stroke:#8e219f;stroke-width:2.06500006;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="path1967-2" />
            <path inkscape:connector-curvature="0" d="m124.46325 252.31415q0 2.3876-.762 4.3688-.762 1.9812-2.1844 3.4036-1.3716 1.3716-3.3528 2.1336-1.9812.762-4.3688.762h-3.7592q-2.3368.0-4.318-.762-1.9304-.8128-3.3528-2.2352-1.4224-1.4224-2.2352-3.3528-.762001-1.9812-.762001-4.318v-10.7188q0-2.2352.812801-4.1656.8128-1.9812 2.2352-3.4036 1.4732-1.4732 3.4036-2.286 1.9812-.8128 4.2164-.8128h3.7592q2.286.0 4.2164.8128 1.9812.8128 3.4036 2.2352 1.4224 1.4224 2.2352 3.4036.8128 1.9304.8128 4.2164zm-7.112.0v-10.7188q0-1.6256-.9652-2.5908-.9652-.9652-2.5908-.9652h-3.7592q-1.524.0-2.54 1.016-1.016 1.016-1.016 2.54v10.7188q0 3.556 3.556 3.556h3.7592q3.556.0 3.556-3.556z" style="fill:#8e219f;fill-opacity:1;stroke:#8e219f;stroke-width:2.06500006;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="path1969-7" />
            <path inkscape:connector-curvature="0" d="m143.75455 231.23215q2.1844.0 4.1148.8636 1.9812.8128 3.4036 2.286 1.4732 1.4224 2.286 3.4036.8636 1.9304.8636 4.1148v10.5156q0 2.2352-.8636 4.1656-.8128 1.9304-2.286 3.4036-1.4224 1.4224-3.3528 2.286-1.9304.8128-4.1656.8128h-7.112v3.7084h-7.112v-35.56zm3.556 10.668q0-1.4732-1.0668-2.4892-1.016-1.0668-2.4892-1.0668h-7.112v17.6276h7.112q1.4732.0 2.4892-1.016 1.0668-1.0668 1.0668-2.54z" style="fill:#8e219f;fill-opacity:1;stroke:#8e219f;stroke-width:2.06500006;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="path1971-7" />
            <path inkscape:connector-curvature="0" d="m212.6322 262.98215h-32.004v-35.56h7.112v28.448h24.892z" style="fill:#8e219f;fill-opacity:1;stroke:#8e219f;stroke-width:2.06500006;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="path1973-3" />
            <path inkscape:connector-curvature="0" d="m217.73601 230.97815h14.3256q2.286.0 4.2164.8128 1.9812.8128 3.4036 2.2352 1.4224 1.4224 2.2352 3.4036.8128 1.9304.8128 4.2164v21.4376q-2.6924-.0508-5.334-.1016-2.6416.0-5.334.0h-3.6576q-2.3368.0-4.318-.762-1.9304-.8128-3.3528-2.2352-1.4224-1.4224-2.2352-3.3528-.762-1.9812-.762-4.318v-8.89h17.8816v-1.778q0-3.556-3.556-3.556h-14.3256zm17.8816 19.558h-10.7696v1.778q0 3.556 3.556 3.556h7.2136z" style="fill:#8e219f;fill-opacity:1;stroke:#8e219f;stroke-width:2.06500006;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="path1975-4" />
            <path inkscape:connector-curvature="0" d="m272.7421 262.98215h-7.112v-21.5392q0-3.556-3.556-3.556h-3.6068q-1.6256.0-2.5908.9652-.9652.9652-.9652 2.5908v21.5392h-7.112v-32.2072h7.112v.5588q1.8288-.5588 3.556-.5588h3.6068q2.286.0 4.2164.8128 1.9812.8128 3.4036 2.2352 1.4224 1.4224 2.2352 3.4036.8128 1.9304.8128 4.2164z" style="fill:#8e219f;fill-opacity:1;stroke:#8e219f;stroke-width:2.06500006;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="path1977-5" />
            <path inkscape:connector-curvature="0" d="m302.80538 262.57575q0 2.3368-.8128 4.2164-.8128 1.8796-2.2352 3.2004-1.4224 1.3716-3.4036 2.0828-1.9304.7112-4.2164.7112h-14.1224v-7.112h14.1224q1.3208.0 2.3368-.6096 1.016-.6096 1.1684-2.0828h-7.112q-2.2352.0-4.2164-.8128-1.9304-.8128-3.4036-2.2352-1.4224-1.4732-2.2352-3.4036-.8128-1.9812-.8128-4.2164v-10.414q0-2.1844.8128-4.1148.8636-1.9812 2.286-3.4036 1.4732-1.4732 3.4036-2.286 1.9812-.8636 4.1656-.8636h14.224q.0508 7.874.0508 15.6972.0 7.7724.0 15.6464zm-17.8308-20.6756v10.414q0 1.4732 1.016 2.54 1.0668 1.016 2.54 1.016h7.112v-17.526h-7.112q-1.4732.0-2.54 1.0668-1.016 1.016-1.016 2.4892z" style="fill:#8e219f;fill-opacity:1;stroke:#8e219f;stroke-width:2.06500006;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="path1979-3" />
            <path inkscape:connector-curvature="0" d="m333.02106 252.31415q0 2.3368-.8128 4.318-.762 1.9304-2.1844 3.3528-1.4224 1.4224-3.4036 2.2352-1.9304.762-4.2672.762h-3.7592q-2.2352.0-4.2164-.8128-1.9304-.8128-3.4036-2.2352-1.4224-1.4732-2.2352-3.4036-.8128-1.9812-.8128-4.2164v-21.2344h7.112v21.2344q0 1.524 1.016 2.54 1.016 1.016 2.54 1.016h3.7592q3.556.0 3.556-3.556v-21.2344h7.112z" style="fill:#8e219f;fill-opacity:1;stroke:#8e219f;stroke-width:2.06500006;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="path1981-4" />
            <path inkscape:connector-curvature="0" d="m338.08836 230.97815h14.3256q2.286.0 4.2164.8128 1.9812.8128 3.4036 2.2352 1.4224 1.4224 2.2352 3.4036.8128 1.9304.8128 4.2164v21.4376q-2.6924-.0508-5.334-.1016-2.6416.0-5.334.0h-3.6576q-2.3368.0-4.318-.762-1.9304-.8128-3.3528-2.2352-1.4224-1.4224-2.2352-3.3528-.762-1.9812-.762-4.318v-8.89h17.8816v-1.778q0-3.556-3.556-3.556h-14.3256zm17.8816 19.558h-10.7696v1.778q0 3.556 3.556 3.556h7.2136z" style="fill:#8e219f;fill-opacity:1;stroke:#8e219f;stroke-width:2.06500006;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="path1983-2" />
            <path inkscape:connector-curvature="0" d="m393.09443 262.57575q0 2.3368-.8128 4.2164-.8128 1.8796-2.2352 3.2004-1.4224 1.3716-3.4036 2.0828-1.9304.7112-4.2164.7112h-14.1224v-7.112h14.1224q1.3208.0 2.3368-.6096 1.016-.6096 1.1684-2.0828h-7.112q-2.2352.0-4.2164-.8128-1.9304-.8128-3.4036-2.2352-1.4224-1.4732-2.2352-3.4036-.8128-1.9812-.8128-4.2164v-10.414q0-2.1844.8128-4.1148.8636-1.9812 2.286-3.4036 1.4732-1.4732 3.4036-2.286 1.9812-.8636 4.1656-.8636h14.224q.0508 7.874.0508 15.6972.0 7.7724.0 15.6464zm-17.8308-20.6756v10.414q0 1.4732 1.016 2.54 1.0668 1.016 2.54 1.016h7.112v-17.526h-7.112q-1.4732.0-2.54 1.0668-1.016 1.016-1.016 2.4892z" style="fill:#8e219f;fill-opacity:1;stroke:#8e219f;stroke-width:2.06500006;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="path1985-5" />
            <path inkscape:connector-curvature="0" d="m423.20852 262.98215h-14.3256q-2.3368.0-4.318-.762-1.9304-.8128-3.3528-2.2352-1.4224-1.4224-2.2352-3.3528-.762-1.9812-.762-4.318v-10.668q0-2.3368.762-4.2672.8128-1.9812 2.2352-3.4036 1.4224-1.4224 3.3528-2.1844 1.9812-.8128 4.318-.8128h3.6576q2.3368.0 4.2672.8128 1.9812.762 3.4036 2.1844 1.4224 1.4224 2.1844 3.4036.8128 1.9304.8128 4.2672v8.89h-17.8816v1.778q0 3.556 3.556 3.556h14.3256zm-17.8816-21.336v1.778h10.7696v-1.778q0-3.556-3.556-3.556h-3.6576q-3.556.0-3.556 3.556z" style="fill:#8e219f;fill-opacity:1;stroke:#8e219f;stroke-width:2.06500006;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="path1987-9" />
            <path inkscape:connector-curvature="0" d="m440.97818 243.47495h12.2936v8.8392q0 2.3368-.8128 4.318-.762 1.9304-2.1844 3.3528-1.4224 1.4224-3.4036 2.2352-1.9304.762-4.2672.762h-14.3256v-7.112h14.3256q1.2192.0 1.9304-.3556.7112-.3556 1.0668-.9652.3556-.6096.4572-1.4732.1016-.8636.1016-1.8796v-.6604h-17.8816v-8.89q0-2.3368.762-4.2672.8128-1.9812 2.2352-3.4036 1.4224-1.4224 3.3528-2.1844 1.9812-.8128 4.318-.8128h14.2748v7.112h-14.2748q-1.2192.0-1.9304.3556-.7112.3556-1.0668.9652-.3556.6096-.4572 1.4732-.1016.8636-.1016 1.8796v.6604h5.588z" style="fill:#8e219f;fill-opacity:1;stroke:#8e219f;stroke-width:2.06500006;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="path1989-4" />
        </g>
    </g>
    <g inkscape:label="MainLetters" inkscape:groupmode="layer" id="layer1" transform="translate(0,-200)">
        <g aria-label="Top Languages" style="font-style:normal;font-variant:normal;font-weight:400;font-stretch:normal;font-size:50.79999924px;line-height:1.25;font-family:cat north;-inkscape-font-specification:'CAT North, ';letter-spacing:0;word-spacing:0;fill:#3a175a;fill-opacity:1;stroke:#3a175a;stroke-width:2.06500006;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter2360)" id="text1965">
            <path d="m94.264237 234.53415h-12.446v28.448h-7.111999v-28.448h-12.446v-7.112h32.003999z" style="fill:#3a175a;fill-opacity:1;stroke:#3a175a;stroke-width:2.06500006;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="path1967" inkscape:connector-curvature="0" />
            <path d="m124.46325 252.31415q0 2.3876-.762 4.3688-.762 1.9812-2.1844 3.4036-1.3716 1.3716-3.3528 2.1336-1.9812.762-4.3688.762h-3.7592q-2.3368.0-4.318-.762-1.9304-.8128-3.3528-2.2352-1.4224-1.4224-2.2352-3.3528-.762001-1.9812-.762001-4.318v-10.7188q0-2.2352.812801-4.1656.8128-1.9812 2.2352-3.4036 1.4732-1.4732 3.4036-2.286 1.9812-.8128 4.2164-.8128h3.7592q2.286.0 4.2164.8128 1.9812.8128 3.4036 2.2352 1.4224 1.4224 2.2352 3.4036.8128 1.9304.8128 4.2164zm-7.112.0v-10.7188q0-1.6256-.9652-2.5908-.9652-.9652-2.5908-.9652h-3.7592q-1.524.0-2.54 1.016-1.016 1.016-1.016 2.54v10.7188q0 3.556 3.556 3.556h3.7592q3.556.0 3.556-3.556z" style="fill:#3a175a;fill-opacity:1;stroke:#3a175a;stroke-width:2.06500006;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="path1969" inkscape:connector-curvature="0" />
            <path d="m143.75455 231.23215q2.1844.0 4.1148.8636 1.9812.8128 3.4036 2.286 1.4732 1.4224 2.286 3.4036.8636 1.9304.8636 4.1148v10.5156q0 2.2352-.8636 4.1656-.8128 1.9304-2.286 3.4036-1.4224 1.4224-3.3528 2.286-1.9304.8128-4.1656.8128h-7.112v3.7084h-7.112v-35.56zm3.556 10.668q0-1.4732-1.0668-2.4892-1.016-1.0668-2.4892-1.0668h-7.112v17.6276h7.112q1.4732.0 2.4892-1.016 1.0668-1.0668 1.0668-2.54z" style="fill:#3a175a;fill-opacity:1;stroke:#3a175a;stroke-width:2.06500006;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="path1971" inkscape:connector-curvature="0" />
            <path d="m212.6322 262.98215h-32.004v-35.56h7.112v28.448h24.892z" style="fill:#3a175a;fill-opacity:1;stroke:#3a175a;stroke-width:2.06500006;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="path1973" inkscape:connector-curvature="0" />
            <path d="m217.73601 230.97815h14.3256q2.286.0 4.2164.8128 1.9812.8128 3.4036 2.2352 1.4224 1.4224 2.2352 3.4036.8128 1.9304.8128 4.2164v21.4376q-2.6924-.0508-5.334-.1016-2.6416.0-5.334.0h-3.6576q-2.3368.0-4.318-.762-1.9304-.8128-3.3528-2.2352-1.4224-1.4224-2.2352-3.3528-.762-1.9812-.762-4.318v-8.89h17.8816v-1.778q0-3.556-3.556-3.556h-14.3256zm17.8816 19.558h-10.7696v1.778q0 3.556 3.556 3.556h7.2136z" style="fill:#3a175a;fill-opacity:1;stroke:#3a175a;stroke-width:2.06500006;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="path1975" inkscape:connector-curvature="0" />
            <path d="m272.7421 262.98215h-7.112v-21.5392q0-3.556-3.556-3.556h-3.6068q-1.6256.0-2.5908.9652-.9652.9652-.9652 2.5908v21.5392h-7.112v-32.2072h7.112v.5588q1.8288-.5588 3.556-.5588h3.6068q2.286.0 4.2164.8128 1.9812.8128 3.4036 2.2352 1.4224 1.4224 2.2352 3.4036.8128 1.9304.8128 4.2164z" style="fill:#3a175a;fill-opacity:1;stroke:#3a175a;stroke-width:2.06500006;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="path1977" inkscape:connector-curvature="0" />
            <path d="m302.80538 262.57575q0 2.3368-.8128 4.2164-.8128 1.8796-2.2352 3.2004-1.4224 1.3716-3.4036 2.0828-1.9304.7112-4.2164.7112h-14.1224v-7.112h14.1224q1.3208.0 2.3368-.6096 1.016-.6096 1.1684-2.0828h-7.112q-2.2352.0-4.2164-.8128-1.9304-.8128-3.4036-2.2352-1.4224-1.4732-2.2352-3.4036-.8128-1.9812-.8128-4.2164v-10.414q0-2.1844.8128-4.1148.8636-1.9812 2.286-3.4036 1.4732-1.4732 3.4036-2.286 1.9812-.8636 4.1656-.8636h14.224q.0508 7.874.0508 15.6972.0 7.7724.0 15.6464zm-17.8308-20.6756v10.414q0 1.4732 1.016 2.54 1.0668 1.016 2.54 1.016h7.112v-17.526h-7.112q-1.4732.0-2.54 1.0668-1.016 1.016-1.016 2.4892z" style="fill:#3a175a;fill-opacity:1;stroke:#3a175a;stroke-width:2.06500006;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="path1979" inkscape:connector-curvature="0" />
            <path d="m333.02106 252.31415q0 2.3368-.8128 4.318-.762 1.9304-2.1844 3.3528-1.4224 1.4224-3.4036 2.2352-1.9304.762-4.2672.762h-3.7592q-2.2352.0-4.2164-.8128-1.9304-.8128-3.4036-2.2352-1.4224-1.4732-2.2352-3.4036-.8128-1.9812-.8128-4.2164v-21.2344h7.112v21.2344q0 1.524 1.016 2.54 1.016 1.016 2.54 1.016h3.7592q3.556.0 3.556-3.556v-21.2344h7.112z" style="fill:#3a175a;fill-opacity:1;stroke:#3a175a;stroke-width:2.06500006;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="path1981" inkscape:connector-curvature="0" />
            <path d="m338.08836 230.97815h14.3256q2.286.0 4.2164.8128 1.9812.8128 3.4036 2.2352 1.4224 1.4224 2.2352 3.4036.8128 1.9304.8128 4.2164v21.4376q-2.6924-.0508-5.334-.1016-2.6416.0-5.334.0h-3.6576q-2.3368.0-4.318-.762-1.9304-.8128-3.3528-2.2352-1.4224-1.4224-2.2352-3.3528-.762-1.9812-.762-4.318v-8.89h17.8816v-1.778q0-3.556-3.556-3.556h-14.3256zm17.8816 19.558h-10.7696v1.778q0 3.556 3.556 3.556h7.2136z" style="fill:#3a175a;fill-opacity:1;stroke:#3a175a;stroke-width:2.06500006;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="path1983" inkscape:connector-curvature="0" />
            <path d="m393.09443 262.57575q0 2.3368-.8128 4.2164-.8128 1.8796-2.2352 3.2004-1.4224 1.3716-3.4036 2.0828-1.9304.7112-4.2164.7112h-14.1224v-7.112h14.1224q1.3208.0 2.3368-.6096 1.016-.6096 1.1684-2.0828h-7.112q-2.2352.0-4.2164-.8128-1.9304-.8128-3.4036-2.2352-1.4224-1.4732-2.2352-3.4036-.8128-1.9812-.8128-4.2164v-10.414q0-2.1844.8128-4.1148.8636-1.9812 2.286-3.4036 1.4732-1.4732 3.4036-2.286 1.9812-.8636 4.1656-.8636h14.224q.0508 7.874.0508 15.6972.0 7.7724.0 15.6464zm-17.8308-20.6756v10.414q0 1.4732 1.016 2.54 1.0668 1.016 2.54 1.016h7.112v-17.526h-7.112q-1.4732.0-2.54 1.0668-1.016 1.016-1.016 2.4892z" style="fill:#3a175a;fill-opacity:1;stroke:#3a175a;stroke-width:2.06500006;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="path1985" inkscape:connector-curvature="0" />
            <path d="m423.20852 262.98215h-14.3256q-2.3368.0-4.318-.762-1.9304-.8128-3.3528-2.2352-1.4224-1.4224-2.2352-3.3528-.762-1.9812-.762-4.318v-10.668q0-2.3368.762-4.2672.8128-1.9812 2.2352-3.4036 1.4224-1.4224 3.3528-2.1844 1.9812-.8128 4.318-.8128h3.6576q2.3368.0 4.2672.8128 1.9812.762 3.4036 2.1844 1.4224 1.4224 2.1844 3.4036.8128 1.9304.8128 4.2672v8.89h-17.8816v1.778q0 3.556 3.556 3.556h14.3256zm-17.8816-21.336v1.778h10.7696v-1.778q0-3.556-3.556-3.556h-3.6576q-3.556.0-3.556 3.556z" style="fill:#3a175a;fill-opacity:1;stroke:#3a175a;stroke-width:2.06500006;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="path1987" inkscape:connector-curvature="0" />
            <path d="m440.97818 243.47495h12.2936v8.8392q0 2.3368-.8128 4.318-.762 1.9304-2.1844 3.3528-1.4224 1.4224-3.4036 2.2352-1.9304.762-4.2672.762h-14.3256v-7.112h14.3256q1.2192.0 1.9304-.3556.7112-.3556 1.0668-.9652.3556-.6096.4572-1.4732.1016-.8636.1016-1.8796v-.6604h-17.8816v-8.89q0-2.3368.762-4.2672.8128-1.9812 2.2352-3.4036 1.4224-1.4224 3.3528-2.1844 1.9812-.8128 4.318-.8128h14.2748v7.112h-14.2748q-1.2192.0-1.9304.3556-.7112.3556-1.0668.9652-.3556.6096-.4572 1.4732-.1016.8636-.1016 1.8796v.6604h5.588z" style="fill:#3a175a;fill-opacity:1;stroke:#3a175a;stroke-width:2.06500006;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" id="path1989" inkscape:connector-curvature="0" />
        </g>
    </g>
</svg>

  <div class="div__languages">
    <div class="div div__information">
      <svg
        class="svg--square"
        width="512"
        height="512"
        version="1.1"
        viewBox="0 0 135.46666 135.46667"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:cc="http://creativecommons.org/ns#"
        xmlns:dc="http://purl.org/dc/elements/1.1/"
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
      >
        <g transform="translate(0 -161.53)">
          <circle
            cx="67.469"
            cy="229.53"
            r="66.335"
            fill="#ffc000"
            style="paint-order:stroke fill markers"
          />
        </g>
        <g fill="#ff7800" stroke="#ff7800" stroke-width="1.465" aria-label="Js">
          <path
            d="m65.134 73.787q0 2.3876-0.8128 4.3688-0.762 1.9304-2.1844 3.3528-1.3716 1.3716-3.3528 2.1844-1.9812 0.762-4.318 0.762h-10.668q-2.286 0-4.2672-0.8128-1.9304-0.8128-3.3528-2.2352t-2.2352-3.3528q-0.8128-1.9812-0.8128-4.2672v-1.016h7.112q0 1.016 0.1016 1.8796 0.1016 0.8128 0.4572 1.4224t1.0668 0.9652q0.7112 0.3048 1.9304 0.3048h10.668q3.556 0 3.556-3.556v-24.892h7.112z"
          />
          <path
            d="m82.937 64.948h12.294v8.8392q0 2.3368-0.8128 4.318-0.762 1.9304-2.1844 3.3528t-3.4036 2.2352q-1.9304 0.762-4.2672 0.762h-14.326v-7.112h14.326q1.2192 0 1.9304-0.3556t1.0668-0.9652 0.4572-1.4732 0.1016-1.8796v-0.6604h-17.882v-8.89q0-2.3368 0.762-4.2672 0.8128-1.9812 2.2352-3.4036t3.3528-2.1844q1.9812-0.8128 4.318-0.8128h14.275v7.112h-14.275q-1.2192 0-1.9304 0.3556t-1.0668 0.9652-0.4572 1.4732-0.1016 1.8796v0.6604h5.588z"
          />
        </g>
        <g fill="#fff" stroke="#fff" stroke-width="1.465" aria-label="Js">
          <path
            d="m62.514 71.504q0 2.3876-0.8128 4.3688-0.762 1.9304-2.1844 3.3528-1.3716 1.3716-3.3528 2.1844-1.9812 0.762-4.318 0.762h-10.668q-2.286 0-4.2672-0.8128-1.9304-0.8128-3.3528-2.2352t-2.2352-3.3528q-0.8128-1.9812-0.8128-4.2672v-1.016h7.112q0 1.016 0.1016 1.8796 0.1016 0.8128 0.4572 1.4224t1.0668 0.9652q0.7112 0.3048 1.9304 0.3048h10.668q3.556 0 3.556-3.556v-24.892h7.112z"
          />
          <path
            d="m80.318 62.665h12.294v8.8392q0 2.3368-0.8128 4.318-0.762 1.9304-2.1844 3.3528t-3.4036 2.2352q-1.9304 0.762-4.2672 0.762h-14.326v-7.112h14.326q1.2192 0 1.9304-0.3556t1.0668-0.9652 0.4572-1.4732 0.1016-1.8796v-0.6604h-17.882v-8.89q0-2.3368 0.762-4.2672 0.8128-1.9812 2.2352-3.4036t3.3528-2.1844q1.9812-0.8128 4.318-0.8128h14.275v7.112h-14.275q-1.2192 0-1.9304 0.3556t-1.0668 0.9652-0.4572 1.4732-0.1016 1.8796v0.6604h5.588z"
          />
        </g>
      </svg>

      <p class="p__info">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
        fringilla tortor ac accumsan posuere. Integer in eleifend lectus, non
        eleifend sapien.
      </p>
    </div>
    <div class="div div__information">
      <svg
        class="svg--square"
        width="512"
        height="512"
        version="1.1"
        viewBox="0 0 135.46666 135.46667"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:cc="http://creativecommons.org/ns#"
        xmlns:dc="http://purl.org/dc/elements/1.1/"
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
      >
        <g transform="translate(0 -161.53)">
          <circle
            cx="67.469"
            cy="229.53"
            r="66.335"
            fill="#5500d4"
            style="paint-order:stroke fill markers"
          />
        </g>
        <g transform="translate(4.2333 6.0537)" fill="#330080" aria-label="C#">
          <path
            d="m62.514 82.172h-21.336q-2.3368 0-4.318-0.762-1.9304-0.8128-3.3528-2.2352t-2.2352-3.3528q-0.762-1.9812-0.762-4.318v-14.224q0-2.3368 0.762-4.2672 0.8128-1.9812 2.2352-3.4036t3.3528-2.1844q1.9812-0.8128 4.318-0.8128h21.336v7.112h-21.336q-3.556 0-3.556 3.556v14.224q0 3.556 3.556 3.556h21.336z"
          />
          <path
            d="m78.438 82.172h-7.0104l2.1844-6.1976h-4.1656v-7.112h6.6548l2.1336-6.1976h-8.7884v-7.112h11.328l3.1496-8.9916h7.112l-3.2004 8.9916h5.334l3.1496-8.9916h7.112l-3.2004 8.9916h4.318v7.112h-6.858l-2.1336 6.1976h8.9916v7.112h-11.532l-2.1844 6.1976h-7.0104l2.1844-6.1976h-5.3848zm4.7244-13.31h5.334l2.1336-6.1976h-5.334z"
          />
        </g>
        <g fill="#fff" stroke="#fff" stroke-width="1.465" aria-label="C#">
          <path
            d="m62.514 82.172h-21.336q-2.3368 0-4.318-0.762-1.9304-0.8128-3.3528-2.2352t-2.2352-3.3528q-0.762-1.9812-0.762-4.318v-14.224q0-2.3368 0.762-4.2672 0.8128-1.9812 2.2352-3.4036t3.3528-2.1844q1.9812-0.8128 4.318-0.8128h21.336v7.112h-21.336q-3.556 0-3.556 3.556v14.224q0 3.556 3.556 3.556h21.336z"
          />
          <path
            d="m78.438 82.172h-7.0104l2.1844-6.1976h-4.1656v-7.112h6.6548l2.1336-6.1976h-8.7884v-7.112h11.328l3.1496-8.9916h7.112l-3.2004 8.9916h5.334l3.1496-8.9916h7.112l-3.2004 8.9916h4.318v7.112h-6.858l-2.1336 6.1976h8.9916v7.112h-11.532l-2.1844 6.1976h-7.0104l2.1844-6.1976h-5.3848l-2.1844 6.1976zm4.7244-13.31h5.334l2.1336-6.1976h-5.334l-2.1336 6.1976z"
          />
        </g>
      </svg>

      <p class="p__info">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
        fringilla tortor ac accumsan posuere. Integer in eleifend lectus, non
        eleifend sapien.
      </p>
    </div>
    <div class="div div__information">
      <svg
        class="svg--square"
        width="512"
        height="512"
        version="1.1"
        viewBox="0 0 135.46666 135.46667"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:cc="http://creativecommons.org/ns#"
        xmlns:dc="http://purl.org/dc/elements/1.1/"
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
      >
        <g transform="translate(0 -161.53)">
          <circle
            cx="67.469"
            cy="229.53"
            r="66.335"
            fill="#2373d4"
            style="paint-order:stroke fill markers"
          />
        </g>
        <g
          fill="#233fd4"
          stroke="#2340d4"
          stroke-width="1.465"
          aria-label="C++"
        >
          <path
            d="m64.494 88.537h-21.336q-2.3368 0-4.318-0.762-1.9304-0.8128-3.3528-2.2352t-2.2352-3.3528q-0.762-1.9812-0.762-4.318v-14.224q0-2.3368 0.762-4.2672 0.8128-1.9812 2.2352-3.4036t3.3528-2.1844q1.9812-0.8128 4.318-0.8128h21.336v7.112h-21.336q-3.556 0-3.556 3.556v14.224q0 3.556 3.556 3.556h21.336z"
          />
          <path
            d="m89.105 74.313h-6.1976v6.1976h-7.112v-6.1976h-6.1976v-7.112h6.1976v-6.1976h7.112v6.1976h6.1976v7.112z"
          />
          <path
            d="m113.71 74.313h-6.1976v6.1976h-7.112v-6.1976h-6.1976v-7.112h6.1976v-6.1976h7.112v6.1976h6.1976v7.112z"
          />
        </g>
        <g
          transform="translate(0 -161.53)"
          fill="#fff"
          stroke="#fff"
          stroke-width="1.465"
          aria-label="C++"
        >
          <path
            d="m60.398 245.94h-21.336q-2.3368 0-4.318-0.762-1.9304-0.8128-3.3528-2.2352t-2.2352-3.3528q-0.762-1.9812-0.762-4.318v-14.224q0-2.3368 0.762-4.2672 0.8128-1.9812 2.2352-3.4036t3.3528-2.1844q1.9812-0.8128 4.318-0.8128h21.336v7.112h-21.336q-3.556 0-3.556 3.556v14.224q0 3.556 3.556 3.556h21.336z"
          />
          <path
            d="m85.009 231.71h-6.1976v6.1976h-7.112v-6.1976h-6.1976v-7.112h6.1976v-6.1976h7.112v6.1976h6.1976v7.112z"
          />
          <path
            d="m109.61 231.71h-6.1976v6.1976h-7.112v-6.1976h-6.1976v-7.112h6.1976v-6.1976h7.112v6.1976h6.1976v7.112z"
          />
        </g>
      </svg>

      <p class="p__info">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
        fringilla tortor ac accumsan posuere. Integer in eleifend lectus, non
        eleifend sapien.
      </p>
    </div>
  </div>
</div>
<div class="div div__box div--purple div--flex_columns">
  <svg
    class="svg__languages"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="1889.764"
    height="404.409"
    viewBox="0 0 500 107"
  >
    <defs>
      <filter
        id="A"
        x="-.014"
        width="1.028"
        y="-.082"
        height="1.164"
        color-interpolation-filters="sRGB"
      >
        <feGaussianBlur stdDeviation="1.807" />
      </filter>
      <path
        id="B"
        d="M95.89 259.202H88.78V234.3q0-3.556-3.556-3.556H79.94q-3.556 0-3.556 3.556v24.892h-7.112V234.3q0-3.556-3.556-3.556h-5.64q-3.556 0-3.556 3.556v24.892H49.41v-35.56h7.112v.508q1.676-.508 3.556-.508h5.64q1.93 0 3.76.6 1.83.56 3.302 1.88 1.524-1.32 3.353-1.88 1.88-.6 3.8-.6h5.283q2.286 0 4.216.813 1.98.813 3.404 2.235 1.422 1.422 2.235 3.404.813 1.93.813 4.216z"
      />
      <path
        id="C"
        d="M104.864 269.312l2.997-10.11-9.398-31.902h7.112l5.842 20.066 5.944-20.066h7.112l-9.5 31.902h-.05l-2.997 10.11z"
      />
      <path
        id="D"
        d="M180.136 234.3q0 2.235-.864 4.166-.813 1.93-2.286 3.404-1.422 1.422-3.353 2.286-1.93.813-4.166.813h-14.224v14.224h-7.112v-35.56h21.336q2.184 0 4.115.864 1.98.813 3.404 2.286 1.473 1.422 2.286 3.404.864 1.93.864 4.115zm-7.112 0q0-1.473-1.067-2.49-1.016-1.067-2.49-1.067h-14.224v7.112h14.224q1.473 0 2.49-1.016 1.067-1.067 1.067-2.54z"
      />
      <path
        id="E"
        d="M203.07 237.663q0-3.556-3.556-3.556h-3.607q-1.626 0-2.59.965-.965.965-.965 2.59v21.54h-7.112v-32.207h7.112v.56q1.83-.56 3.556-.56h3.607q2.286 0 4.216.813 1.98.813 3.404 2.235 1.422 1.422 2.235 3.404.813 1.93.813 4.216z"
      />
      <path
        id="F"
        d="M240.398 248.534q0 2.388-.762 4.37-.762 1.98-2.184 3.404-1.372 1.372-3.353 2.134-1.98.762-4.37.762h-3.76q-2.337 0-4.318-.762-1.93-.813-3.353-2.235-1.422-1.422-2.235-3.353-.762-1.98-.762-4.318v-10.72q0-2.235.813-4.166.813-1.98 2.235-3.404 1.473-1.473 3.404-2.286 1.98-.813 4.216-.813h3.76q2.286 0 4.216.813 1.98.813 3.404 2.235 1.422 1.422 2.235 3.404.813 1.93.813 4.216zm-7.112 0v-10.72q0-1.626-.965-2.59-.965-.965-2.59-.965h-3.76q-1.524 0-2.54 1.016-1.016 1.016-1.016 2.54v10.72q0 3.556 3.556 3.556h3.76q3.556 0 3.556-3.556z"
      />
      <path
        id="G"
        d="M259.638 244.978h-7.06v14.224h-7.112V234.3q0-2.337.762-4.267.813-1.98 2.235-3.404 1.422-1.422 3.353-2.184 1.98-.813 4.318-.813h6.91v7.112h-6.91q-3.556 0-3.556 3.556v3.556h7.06z"
      />
      <path
        id="H"
        d="M275.2 259.202h-7.112V227.3h7.112zm-7.112-39.116q0-1.473 1.016-2.49 1.016-1.067 2.49-1.067 1.473 0 2.49 1.067 1.067 1.016 1.067 2.49 0 1.473-1.067 2.49-1.016 1.016-2.49 1.016-1.473 0-2.49-1.016-1.016-1.016-1.016-2.49z"
      />
      <path
        id="I"
        d="M297.868 252.1v7.112h-6.91q-2.337 0-4.318-.762-1.93-.813-3.353-2.235-1.422-1.422-2.235-3.353-.762-1.98-.762-4.318v-24.892h7.112v24.892q0 3.556 3.556 3.556z"
      />
      <path
        id="J"
        d="M327.907 259.202H313.58q-2.337 0-4.318-.762-1.93-.813-3.353-2.235-1.422-1.422-2.235-3.353-.762-1.98-.762-4.318v-10.668q0-2.337.762-4.267.813-1.98 2.235-3.404 1.422-1.422 3.353-2.184 1.98-.813 4.318-.813h3.658q2.337 0 4.267.813 1.98.762 3.404 2.184 1.422 1.422 2.184 3.404.813 1.93.813 4.267v8.9h-17.882v1.778q0 3.556 3.556 3.556h14.326zm-17.882-21.336v1.778h10.77v-1.778q0-3.556-3.556-3.556h-3.658q-3.556 0-3.556 3.556z"
      />
      <path
        id="K"
        d="M345.676 239.695h12.294v8.84q0 2.337-.813 4.318-.762 1.93-2.184 3.353-1.422 1.422-3.404 2.235-1.93.762-4.267.762h-14.326V252.1h14.326q1.22 0 1.93-.356.71-.356 1.067-.965.356-.6.457-1.473.102-.864.102-1.88v-.66h-17.882v-8.9q0-2.337.762-4.267.813-1.98 2.235-3.404 1.422-1.422 3.353-2.184 1.98-.813 4.318-.813h14.275v7.112h-14.275q-1.22 0-1.93.356-.71.356-1.067.965-.356.6-.457 1.473-.102.864-.102 1.88v.66h5.588z"
      />
    </defs>
    <g
      transform="translate(45.433 -191.361)"
      fill="#8e219f"
      stroke="#8e219f"
      filter="url(#A)"
      stroke-width="3.065"
    >
      <use xlink:href="#B" />
      <use xlink:href="#C" />
      <use xlink:href="#D" />
      <use xlink:href="#E" />
      <use xlink:href="#F" />
      <use xlink:href="#G" />
      <use xlink:href="#H" />
      <use xlink:href="#I" />
      <use xlink:href="#J" />
      <use xlink:href="#K" />
    </g>
    <g
      transform="translate(50.724 -185.54)"
      fill="#100035"
      stroke="#100035"
      filter="url(#A)"
      stroke-width="3.065"
    >
      <use xlink:href="#B" />
      <use xlink:href="#C" />
      <use xlink:href="#D" />
      <use xlink:href="#E" />
      <use xlink:href="#F" />
      <use xlink:href="#G" />
      <use xlink:href="#H" />
      <use xlink:href="#I" />
      <use xlink:href="#J" />
      <use xlink:href="#K" />
    </g>
    <g fill="#3a175a" stroke="#3a175a" stroke-width="3.065">
      <path
        d="M145.028 69.958h-7.112V45.066q0-3.556-3.556-3.556h-5.283q-3.556 0-3.556 3.556v24.892h-7.112V45.066q0-3.556-3.556-3.556h-5.64q-3.556 0-3.556 3.556v24.892h-7.112v-35.56h7.112v.508q1.676-.508 3.556-.508h5.64q1.93 0 3.76.6 1.83.56 3.302 1.88 1.524-1.32 3.353-1.88 1.88-.6 3.8-.6h5.283q2.286 0 4.216.813 1.98.813 3.404 2.235 1.422 1.422 2.235 3.404.813 1.93.813 4.216z"
      />
      <use xlink:href="#C" x="49.136" y="-189.244" />
      <path
        d="M229.273 45.066q0 2.235-.864 4.166-.813 1.93-2.286 3.404-1.422 1.422-3.353 2.286-1.93.813-4.166.813H204.38V69.96h-7.112V34.4h21.336q2.184 0 4.115.864 1.98.813 3.404 2.286 1.473 1.422 2.286 3.404.864 1.93.864 4.115zm-7.112 0q0-1.473-1.067-2.5-1.016-1.067-2.5-1.067H204.38v7.112h14.224q1.473 0 2.5-1.016 1.067-1.067 1.067-2.54zm30.046 3.354q0-3.556-3.556-3.556h-3.607q-1.626 0-2.6.965-.965.965-.965 2.6v21.54h-7.112V37.75h7.112v.56q1.83-.56 3.556-.56h3.607q2.286 0 4.216.813 1.98.813 3.404 2.235 1.422 1.422 2.235 3.404.813 1.93.813 4.216zm37.328 10.88q0 2.388-.762 4.37-.762 1.98-2.184 3.404-1.372 1.372-3.353 2.134-1.98.762-4.37.762h-3.76q-2.337 0-4.318-.762-1.93-.813-3.353-2.235-1.422-1.422-2.235-3.353-.762-1.98-.762-4.318v-10.72q0-2.235.813-4.166.813-1.98 2.235-3.404 1.473-1.473 3.404-2.286 1.98-.813 4.216-.813h3.76q2.286 0 4.216.813 1.98.813 3.404 2.235 1.422 1.422 2.235 3.404.813 1.93.813 4.216zm-7.112 0V48.58q0-1.626-.965-2.6-.965-.965-2.6-.965h-3.76q-1.524 0-2.54 1.016-1.016 1.016-1.016 2.54V59.3q0 3.556 3.556 3.556h3.76q3.556 0 3.556-3.556zm26.352-3.566h-7.06v14.224h-7.112V45.066q0-2.337.762-4.267.813-1.98 2.235-3.404 1.422-1.422 3.353-2.184 1.98-.813 4.318-.813h6.9V41.5h-6.9q-3.556 0-3.556 3.556v3.556h7.06zm15.56 14.224h-7.112V38.056h7.112zm-7.112-39.116q0-1.473 1.016-2.5 1.016-1.067 2.5-1.067 1.473 0 2.5 1.067 1.067 1.016 1.067 2.5 0 1.473-1.067 2.5-1.016 1.016-2.5 1.016-1.473 0-2.5-1.016-1.016-1.016-1.016-2.5zm29.78 32.004v7.112h-6.9q-2.337 0-4.318-.762-1.93-.813-3.353-2.235-1.422-1.422-2.235-3.353-.762-1.98-.762-4.318V34.398h7.112V59.3q0 3.556 3.556 3.556zm30.04 7.112h-14.326q-2.337 0-4.318-.762-1.93-.813-3.353-2.235-1.422-1.422-2.235-3.353-.762-1.98-.762-4.318V48.622q0-2.337.762-4.267.813-1.98 2.235-3.404 1.422-1.422 3.353-2.184 1.98-.813 4.318-.813h3.658q2.337 0 4.267.813 1.98.762 3.404 2.184 1.422 1.422 2.184 3.404.813 1.93.813 4.267v8.9h-17.882V59.3q0 3.556 3.556 3.556h14.326zm-17.882-21.336V50.4h10.77v-1.778q0-3.556-3.556-3.556h-3.658q-3.556 0-3.556 3.556zm35.65 1.828h12.294v8.84q0 2.337-.813 4.318-.762 1.93-2.184 3.353-1.422 1.422-3.404 2.235-1.93.762-4.267.762h-14.326v-7.112h14.326q1.22 0 1.93-.356.7-.356 1.067-.965.356-.6.457-1.473.102-.864.102-1.88v-.66h-17.882v-8.9q0-2.337.762-4.267.813-1.98 2.235-3.404 1.422-1.422 3.353-2.184 1.98-.813 4.318-.813h14.275v7.112H392.78q-1.22 0-1.93.356-.7.356-1.067.965-.356.6-.457 1.473-.102.864-.102 1.88v.66h5.588z"
      />
    </g>
  </svg>
  <div class="div__languages">
    <div class="div div__profiles">
      <a class="a a__profiles" href="https://github.com/HDK101">
        <span class="span span__profile">
          <img class="img--square" src="/static/img/github.png" alt="Github" />
          Check out my github!
        </span>
      </a>
    </div>
    <div class="div div__profiles">
      <a class="a a__profiles" href="https://www.npmjs.com/~emkbro">
        <span class="span span__profile">
          <img class="img--square" src="/static/img/npm.png" alt="NPM" />
          Check out my NPM profile!
        </span>
      </a>
    </div>
  </div>
</div>
