/*
ROOT
*/
:root {
  --blur-neu: 2px;
}

/*
GLOBAL
*/
* {
  margin: 0;
}

/*
BLOCKS
*/
a {
  text-decoration: none;
}
p {
  text-align: center;
}
body {
  background-color: rgb(49, 19, 77);
}
header {
  background: linear-gradient(145deg, #6d1ab9, #5f0077);
  height: auto;
  min-height: 50px;
  font-family: "Roboto Mono", monospace;
  width: 100%;
  box-shadow: 10px 10px 10px rgba(35, 5, 39, 0.568);
}
/*CLASS*/

/*
_UL_
*/

.ul__nav {
  list-style-type: none;
}

/*
_LI_
*/

.li__nav {
  height: 50px;
  float: right;
}

/*
_A_
*/

.a__nav {
  text-align: center;
  text-decoration: none;
  background-blend-mode: multiply;
  color: white;
  display: block;
  height: 35px;
  padding-top: 15px;
}
.a__nav:hover {
  background-color: rgba(0, 0, 0, 0.418);
}

.a__profiles {
  color: rgba(255, 255, 255, 0);
  transition: color 1s;
}
.a__profiles:hover {
  color: rgb(255, 255, 255);
}

/*
_DIV_
*/

.div__box {
  display: flex;
  align-items: center;
  height: auto;
  border-radius: 20px 5px 20px 5px;
  box-shadow: 5px 5px 20px rgba(18, 3, 20, 0.568),
    -5px -5px 20px rgba(149, 29, 165, 0.349);
  color: rgba(255, 255, 255, 1);
}
.div__intro {
  flex-direction: column;
}
.div--white {
  background-color: white;
}
.div--purple {
  background: linear-gradient(145deg, #3a175a, #100035);
}
.div__information {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  margin: 30px;
}
.div__profiles {
  display: flex;
  align-items: center;
  height: 300px;
  width: 100%;
  border-radius: 5px;
  margin: 30px;
}
.div__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: "Roboto Mono", monospace;
  height: auto;
}
.div__languages {
  display: flex;
  align-items: center;
}
.div--flex_columns {
  flex-direction: column;
}

/*
_SPAN_
*/

.span__profile {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

/*
_H1_
*/

.h1 {
  margin: 20px;
}

.h1__aboutme {
  font-size: 48px;
}

/*
_SVG_
*/

.svg__languages {
  width: 100%;
  height: auto;
}
.svg__introbox {
  width: 50vw;
  min-width: 320px;
  height: auto;
}
.svg--square {
  height: 100px;
  width: 100px;
  min-height: 100px;
  min-width: 100px;
}

/*
_IMG_
*/

.img--square {
  height: auto;
  width: auto;
  max-width: 150px;
  margin: 20px;
}

/*
_P_
*/
.p__aboutme {
  font-size: 24px;
  text-align: center;
  margin: 20px 80px 20px;
}

.p__languages {
  font-size: 24px;
  text-align: center;
  margin: 20px;
}

.p__info {
  margin: 20px;
}

/*
_MEDIA_
*/

/*Large screen(Desktop)*/
@media only screen and (orientation: landscape) {
  .a__nav {
    width: 150px;
    min-width: 100px;
    transition: background-color, 1s, width, 1s;
  }
  .a__nav:hover {
    width: 200px;
    transition: background-color, 1s, width, 1s;
  }
  .a__profiles {
    color: rgba(255, 255, 255, 0);
    transition: color 1s;
  }
  .a__profiles:hover {
    color: rgb(255, 255, 255);
  }

  .div__box {
    margin: 70px 0 20px 0;
    width: 90vw;
    max-width: 1000px;
  }
  .div__languages {
    flex-direction: row;
  }
  .div__information {
    padding-top: 90px;
    max-height: 210px;
    min-height: 210px;
    color: rgba(255, 255, 255, 0);
    transition: max-height 1s, min-height 1s, padding-top 1s, color 1s;
  }
  .div__information:hover {
    padding-top: 10px;
    max-height: 290px;
    min-height: 290px;
    color: rgba(255, 255, 255, 1);
  }
}

/*Small screen(Phones or low resolution PCs)*/
@media only screen and (orientation: portrait), (max-width: 800px) {
  .ul__nav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
  }
  .a__nav {
    width: 100%;
    background-color: #66009a;
  }
  .a__nav:hover {
    transition: background-color, 1s;
  }
  .a__profiles {
    color: rgba(255, 255, 255, 1);
  }
  

  .li__nav {
    width: 100%;
  }

  .div__box {
    margin: 50px 0 50px 0;
    width: 100vw;
  }
  .div__languages {
    flex-direction: column;
  }
  .div__information {
    padding-top: 40px;
    max-height: 260px;
    min-height: 260px;
    width: 100%;
    border-radius: 5px;
    margin: 30px;
    color: rgba(255, 255, 255, 1);
  }
}
